/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT sans', sans-serif;
    overflow-x: hidden;
}

/* Navbar */
@import url(https://unpkg.com/@webpixels/css@1.0/dist/index.css);

nav {
    background-color: #f2f3ff !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.nav-link:hover, .nav-link:focus {
    color: #ff523b;

}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #ff523b;
}

.btn-primary {
    color: #fff;
    background-color: #ff523b;
    border-color: #fa6b58;
}

.btn-primary:hover {
    color: #ff523b;
    background-color: transparent;
    border-color: #fd7866;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #ff5f4a;
    border-color: #fd7866;
    box-shadow: 0 0 0 .1rem rgba(255, 95, 74, 0.5);
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: #fff;
    background-color: #ff5f4a;
    border-color: #fd7866;
}

.btn-check:checked+.btn-primary:focus, .btn-check:active+.btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .1rem rgba(255, 95, 74, 0.5);
}

a.btn-primary.login {
    background: transparent;
    color: #ff5f4a;
}

a.btn-primary.login:hover {
    background: #ff5f4a;
    color: #fff;
}

/* Banner */
.banner_text h1, .banner_text h2 {
    font-size: 50px;
    font-weight: 700;
}

.banner_text p {
    color: #0000008c;
}

.banner_text p:first-child {
    margin-bottom: 0 !important;
}

/* Product */
.product_heading h3 {
    position: relative;
    line-height: 60px;
    color: #555;
    font-weight: 600;
}

.product_heading h3::after {
    content: '';
    background: #ff523b;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}